﻿<div class="container" ng-controller="BoggleCtrl as vm">
    <p ng-repeat="word in vm.foundWords track by $index">
        {{word}}
    </p>
    <div ng-repeat="row in vm.rowList track by $index">
        <button style="width:100px; height:100px" ng-repeat="column in row track by $index" ng-click="vm.SubmitLetter(column.x, column.y,column.value)" ng-disabled="column.disabled" ng-style="{'background-color':column.color}">
            {{column.value}}
        </button>
    </div>

    <button ng-click="vm.FinishWord()">
        Submit word
    </button>
    <button ng-click="vm.CancelWord()">
        Cancel word
    </button>
    <button ng-click="vm.GetResult()">
        Finish attempt
    </button>
</div>



@section Scripts{

    @Scripts.Render("~/bundles/app")
}